html,
body {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column
}

.container.hidden {
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none; /* Evita interazioni dopo l'animazione */
    transition: transform 1s ease, opacity 1s ease;
}

.container.shown {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto; /* Evita interazioni dopo l'animazione */
    transition: transform 1s ease, opacity 1s ease;
}

#feedbackarea{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    pointer-events: auto;
    transition: opacity 1s ease-in-out;
}

#typing-text{
    font-size: 60px;
    font-family: "Lucida Console", monospace;
    color: lightgrey;
    text-align: center;
    align-items: center;
    height: 50%;
}

#typing-text::after {
    content: "|";
    animation: blink 0.8s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    /* Make the container take full width */
}

.textarea {
    background-color: black;
    border: 1px solid lightgrey;
    /* Definito un bordo iniziale */
    border-color: lightgrey;
    color: lightgrey;
    padding: 10px;
    font-size: 16px;
    width: 20%;
    /* Larghezza dinamica */
    height: 50%;
    /* Altezza dinamica */
    resize: none;
    /* Evita il ridimensionamento */
    outline: none;
    /* Rimuove il bordo di evidenziazione di default */
    transition: border 0.4s ease;
}

.textarea:focus {
    border: 1px solid white;
    /* Cambia il colore del bordo quando la textarea è selezionata */
    background-color: black;
    /* Puoi personalizzare anche lo sfondo se lo desideri */
    color: lightgrey;
}

.button {
    flex: 1;
    /* Tutti i bottoni prendono lo stesso spazio del container */
    width: 20%;
    /* Larghezza dinamica */
    padding: 10px;
    /* Aggiunto padding per il pulsante */
    border: 1px solid lightgrey;
    /* Definito un bordo per il pulsante */
    border: solid;
    background-color: black;
    color: lightgrey;
    margin-top: 5px;
    /* Riduci lo spazio tra textarea e pulsante */
    transition: background-color 0.4s ease, color 0.1s ease;
    /* Aggiunge una transizione morbida per il cambio colore */
}

#stopbutton {
    transition: border-color 0.4s ease, color 0.1s ease, background-color 0.4s ease, color 0.1s ease;
    /* Aggiunge una transizione morbida per il cambio colore */
}

.button:hover {
    background-color: lightgrey;
    /* Cambia il colore quando il cursore è sopra il pulsante */
    border-color: lightgrey;
    color: black;
    /* Cambia anche il testo in nero per contrasto */
}

.button:active {
    background-color: #222;
    /* Grigio scuro quando il pulsante è cliccato */
    color: white;
    /* Cambia il testo in bianco per contrasto */
}

button:disabled {
    background-color: #ccc;  /* Change the background color */
    color: #cbcbcb;        /* Change the text color */
    cursor: not-allowed;     /* Change the cursor to indicate it's disabled */
    opacity: 0.5;            /* Add some opacity for a "grayed out" effect */
}

#stopbutton:active {
    background-color: rgb(191, 24, 24);
    /* Cambia il colore quando il cursore è sopra il pulsante */
    border-color: rgb(191, 24, 24);
    color: white;
    /* Cambia anche il testo in nero per contrasto */
}

#loopbutton:active,
#harmonizebutton:active {
    background-color: green;
    /* Cambia il colore quando il cursore è sopra il pulsante */
    border-color: white;
    color: white;
    /* Cambia anche il testo in nero per contrasto */
}

.textbox,
.button-container {
    /* Applicare lo stesso box-sizing a entrambi */
    box-sizing: border-box;
    /* Include padding e bordo nella larghezza */
}